{% extends 'app/base.html' %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block main-content %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">


      <form action="" method="post" novalidate class="shadow p-5" style="margin:40px 0 40px 0;border: 1px solid #000;padding:40px 40px 60px 40px;border-radius:15px">
        <center><h3>Customer Registration</h3></center>
        <hr>
        {% if messages %}
          {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
          {% endfor %}
        {% endif %}
          
        {% csrf_token %}
        {% for fm in form %}
          <div class="form=group mb-3">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
          </div>
          <br>
        {% endfor %}
        <center><input type="submit" value="submit" class="btn btn-primary" style="margin-top:20px;"></center>
        <br>
        <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
          class="text-danger">Login Now</a>
        </small></div>
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
          {% endfor %}
        {% endif %}
      </form>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    
  </div>
</div>
  
{% endblock main-content %}