{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin:20px 0 40px 0;">
    <h3><b>Welcome <span class="text-capitalize">{{request.user}}</span></b></h3>
    <div class="col-sm-3 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
        <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
      </ul>
    </div>
  </div>


  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <form action="" method="post" novalidate style="margin:40px 0 40px 0;border: 1px solid #000;padding:40px 40px 60px 40px;border-radius:15px;">
    {% csrf_token %}
      {% for fm in form %}
          <div class="form-group">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
          </div>
      {% endfor %}
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
  
      {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
        {% endfor %}
      {% endif %}
  </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

      </div>
</div>
  {% endblock main-content %}