html
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a
{
    text-decoration: none !important;
}
img
{
    width:100%;
}
.pd
{
    padding:0px;
}
.bg
{
    background-color:#dfc0f3;
    margin:0px;
    padding:0px;
}
.arrow-left
{
    background: none;
    border:none;
    padding-left:80%;
    padding-top:1.5%;
}
.arrow-right
{
    background: none;
    border:none;
    padding-left:18%;
    padding-top:1.5%;
}
.offer
{
    font-family:Comic Sans MS;
    padding:5px;
    font-size:12px;
}
.search-button
{
    border:0px 0px 1px 0px;
    width:50%;
    background-color: transparent;
    background-size: 18px;
    box-shadow: none;
    padding: 0;
    position: relative;
    width: 50%;
    transition: all 1s;
    border: none;
    background: transparent;
    border-bottom: 1px solid #848484;
    padding: 45px 34px 8px 0;
    width: 50%;
}
.search-button:focus
{
outline:none;
}
.logo
{
    height:80px;
    width:150px;
}
.pd-signup
{
    padding:44px 0 0 0;
    text-align:center;
}
.userr
{
    font-size:30px !important;
    color:#333;
}
.userr:hover
{
    color:#00d5ff;
}
.signup
{
    font-size:15px;
    text-align: right;
    margin:0px;
    font-weight:700;
    color:#333;
}
.signup1
{
    font-size:12px;
    text-align:right;
    margin:0;
    color:#713466;
    font-weight:700;
}
.pd-fav
{
    padding:44px 0 0 0px;
}
.fav
{
    font-size:30px !important;
}
.fav:hover
{
    color:#ff4f4f;
}
.pd-cart
{
    padding:44px 0 0 0;
}
.cart
{
    font-size:30px !important;
}
.cart:hover
{
    color:#00d5ff;
}
.cart1
{
    font-size:14px;
    text-align:right;
    margin:0;
    color:#713466;
    font-weight:700;
    padding-top:14px;
    padding-right:10px;
}
.fav1
{
    font-size:14px;
    text-align:right;
    margin:0;
    color:#713466;
    font-weight:700;
    padding-top:14px;
    padding-left:24px;
}

.navbar-inverse
{
    /**background-color: #623869;**/
    background-color:#000;
    border:none;
    border-radius:0px;
    margin-bottom:0;

}
.navbar-inverse .navbar-nav>li>a 
{
    color: #ffff;

}
.stick
{
    position: sticky !important;
	top:0;
	z-index:9999 !important;
}
.ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FF5722;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
    color:#fff;
    text-align: center;
    margin-top:15px;
    margin-right:-8px;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 5px, 0);
    }
}
.underline {
    display: inline-block;
    position: relative;
    color:#ffff;
  }
  
  .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 10;
    left: 0;
    background-color:#ffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.sli1
{
	width:100%;
} 
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
.carousel
{
    padding:5px 0px 5px 5px;
}
.carousel-indicators .active 
{
    background-color: #901e98;
}
.carousel-indicators
{
	bottom:0px;
}
.carousel-indicators li
{
	border:1px solid #000;
}
.carousel-control.right
{
    background-image: none;
}
.carousel-control.arrow-left
{
    background-image: none;
}
.side-img
{
    padding:5px 5px 0px 5px;
}
.img-height
{
    width:100%;
}
.pd1
{
    margin-top:30px;
    padding:0;
}
.Heading
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #333;
    font-size: 28px;
    padding: 20px 0 0px 0px;
}
.Heading-para
{
    font-size: 17px;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    letter-spacing: .02em;
    margin-top: 4px;
}
.pd2
{
    padding:90px 180px 0 180px;
}
.pd3
{
    padding:40px 180px 0 180px;
    border-bottom: 2px solid #f5f5f5;
}
.zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.1);
  }
.color-change
{
    text-align:center;
    font-weight:700;
    padding-top:0px;
    color:#333;
    text-decoration: none;
}
.color-change:hover
{
    text-align:center;
    color:#901e98;
    text-decoration: none;
}
.tags
{
    text-align:center;
    font-weight:700;
    padding-top:20px;

}
.tabs-nav {
    padding: 20px 0 15px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 5px;
    text-align: center;
}
.tabs-nav li {
    display: inline-block;
}
.tabs-nav li a 
{
    font-size: 15px;
    line-height: 20px;
    color: #515151;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .02em;
    border: 1px solid #8b8b8b;
    display: block;
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 50px;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    text-decoration: none;
}
.tabs-nav li.active a {
    color: #fff;
    background: #901e98;
    border: 1px solid #901e98;
}
.pd4
{
    padding:20px 30px 40px 30px;
}
.writer {
    background: #f2e9e7;
    padding-top: 40px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    margin-top:50px;
}
.container:hover .furniture {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
.furniture
{
    border-radius:8px;
    opacity:1;
    transition: 0.4s;
}

.btnn{
background-color: #f08ced;
border-radius: 50px;
border-width: 0;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
color: #5c0080;
cursor: pointer;
display: inline-block;
font-family: Arial, sans-serif;
font-size: 1em;
height: 60px;
padding: 0 25px;
transition: all 200ms;
opacity: 0;
border:1px solid #000;
}
.btnn:hover{
background-color: #d36dd0;
color:#fff;
transform: scale(1.05);
}
.container {
    position: relative;

  }

  .container .btnn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.container:hover .btnn{
    
        opacity: 1;
    
}
.container:hover .furniture{
    
    opacity: 0.6;
    transition: 0.9s ease;
}
.wall
{
    background-color: #cea0d2;
    padding:20px;

}

.wall-txt
{
    background: #f2e9e7;
    padding: 18px 30px;
    text-align: center;
    margin:0px;
    color:#000;
    font-size: 15px;
    
}
.pd5
{

    padding:50px 100px 100px 100px;
    border-bottom: 2px solid #f5f5f5;
    
}
.shop
{
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
 
}
.cake
{
    padding:0 15px 30px 15px;
}

.wall-txt1
{
    background-color: #cea0d2;
    padding: 30px 30px;
    text-align: center;
    margin:0px;
    color:#000000;
    font-size: 15px;
    
}
.pd6
{
    padding:100px 0px;
}

.image-text {
    padding: 48px 24px;
    background-color: rgb(var(--section-block-background));
    border-radius: var(--block-border-radius);
    background-color: #ffff;
}
.email-box
{
    background-color: #ffff;
    border-radius:10px;
    margin-top:50px;
    padding:40px 20px 40px 20px;
}
.para1
{
    font-family: arial;
    font-size:13px;
    padding:15px 0 0px 0;
}
.para2
{
    font-family: arial;
    font-size:13px;
    padding:15px 0 25px 0;
}
.subscribe
{
    background: #464646;
    color:#fff;
    padding:15px 0 35px 0;
}
.pd7
{
    padding:100px 20px;
    background: #000;
}
.info 
{
    list-style: none;
}
.info li
{
    line-height: 30px;
    color:#fff;
    font-size:14px;
}
.ico 
{
    font-size:14px !important;
    padding-right:20px;
}
.head 
{
    font-size:17px !important;
    padding-bottom:20px !important;
}
.gallery
{
    width:80px;
    height:80px;
    padding:0 5px 5px 0px;
}
.footer
{
    background-color: #cea0d2;
    border-style: dashed;
    border-width: 1px 0px 0px 0px;
    border-color: #e1e1e1;
    padding: 25px 20px 20px 20px;
    text-align:center;
}
a
{
    text-decoration: none;
}
#mybutton {
    display: inline-block;
    background-color: #763296;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #mybutton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #mybutton:hover {
    cursor: pointer;
    background-color: #333;
  }
  #mybutton:active {
    background-color: #555;
  }
  #mybutton.show {
    opacity: 1;
    visibility: visible;
  }